parameters:
	ignoreErrors:
		-
			message: "#^Offset 'base' does not exist on array\\|string\\.$#"
			count: 3
			path: src/Command/LinkDependenciesCommand.php

		-
			message: "#^Offset 'head' does not exist on array\\|string\\.$#"
			count: 4
			path: src/Command/LinkDependenciesCommand.php

